## Qt4 related files
include/moc_*

## Compiles files
*.cxx

## Build/devel/install folders

build
devel
install
recordings

## C++ stuff
bin
CMakeFiles

## Linked CMakeLists.txt file
src/CMakeLists.txt

## Temp files created by gedit
*.*~
