<launch>
	<include file="$(find emotion_game)/launch/pocketsphinx/emotion_game_speech.launch" />
	<node name="tracker" pkg="openni_tracker" type="openni_tracker" output="screen" />
	<node name="svm" pkg="learner" type="svm_node" args="$(find learner)/svm/nao_autism.model" output="screen" />
	<node name="emotion_game" pkg="emotion_game" type="start_game" output="screen" />
</launch>
